<div class="inputWrapper hexwavepairdetail">
    <div id="smart-tables">
        <div class="row">
            <div class="col-xs-12">
                <div class="card mb-0">
                    <div class="row mb-15" style="margin-left: -45px; margin-right: -45px; min-height: 37px;">
                        <div class="col-xs-2 text-left">
                            <img src="../../../assets/images/backscreen_icon.jpg" (click)="onScreenBack()"
                                style="cursor: pointer;" />
                        </div>
                        <div class="col-xs-8">&nbsp;</div>
                        <div class="col-xs-2 text-right">
                            <img src="../../../assets/images/closescreen_icon.jpg" (click)="onScreenClose()"
                                style="cursor: pointer;" />
                        </div>
                    </div>

                    <div class="innercard-wrapper">
                        <header class="row title">
                            <div class="col-xs-12">
                                <h2 class="main-title">{{entrance.name}}</h2>
                            </div>
                        </header>

                        <div class="row">
                            <div class="col-lg-5 col-xs-12">
                                <div class="search-bar-wrapper">
                                    &nbsp;
                                    <!-- <i class="search-bar-icon fa fa-search"></i>
                                    <input class="search-bar-input" type="text" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search"> -->
                                </div>
                            </div>
                            <div class="col-lg-7 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12 col-lg-3 col-md-3 col-sm-12">
                                        &nbsp;
                                    </div>
                                    <div class="col-xs-12 col-lg-3 col-md-3 col-sm-12">
                                        <button class="globalButton" style="margin-bottom: 5px;"
                                            [routerLink]="['/admin/tablettohexwave']"
                                            translate>detailSWITCHGATES</button>
                                    </div>
                                    <div class="col-xs-12 col-lg-3 col-md-3 col-sm-12">
                                        <button class="globalButton" (click)="addLane()"
                                            translate>detailSETUPALANE</button>
                                    </div>
                                    <div class="col-xs-12 col-lg-3 col-md-3 col-sm-12">
                                        <button class="globalButton"
                                            [disabled]="selection.selected.length===0 || selection.selected.length>1"
                                            (click)="editLane()" translate>tabeditlane</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="table-wrapper">
                            <table class="table table-stripes" mat-table [dataSource]="dataSource">
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef style="padding-left: 8px; width: 75px;">                                        
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null"
                                            [checked]="selection.isSelected(row)">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="pairs">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header translate>
                                        detail#OFHEXWAVEPAIRS</th>
                                    <td mat-cell *matCellDef="let row; let i = index"
                                        (click)="showEntranceDetails(row)">
                                        {{i + 1}}</td>
                                </ng-container>
                                <ng-container matColumnDef="laneName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header translate>detailLANENAME</th>
                                    <td mat-cell *matCellDef="let row" (click)="showEntranceDetails(row)">
                                        {{row.laneName}}</td>
                                </ng-container>
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header translate>detailTHREATSTATUS
                                    </th>
                                    <td mat-cell *matCellDef="let row" (click)="showEntranceDetails(row)">
                                        <!-- {{row.name}} -->
                                        <span class="glyphicon glyphicon-ok" style="color:green; font-size:20px;"
                                            *ngIf="row.leftDeviceStatus===true"></span>
                                        <span class="glyphicon glyphicon-remove" style="color:red; font-size:20px;"
                                            *ngIf="row.leftDeviceStatus===false"></span>
                                    </td>
                                </ng-container>
                                <!-- <ng-container matColumnDef="viewActiveMonitoring">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header translate>
                                        detailVIEWACTIVEMONITORING</th>
                                    <td mat-cell *matCellDef="let row" (click)="showEntranceDetails(row)">
                                        <a href="" target="_self">
                                            <img src="../../../assets/images/eye_icon.png" (click)="viewThreat(row)"
                                                title="View Threat" alt="View Threat" style="cursor: pointer;" />
                                        </a>
                                    </td>
                                </ng-container> -->
                                <ng-container matColumnDef="leftDeviceName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header translate>detailLEFTDEVICE
                                    </th>
                                    <td mat-cell *matCellDef="let row" (click)="showEntranceDetails(row)">
                                        {{row.leftDeviceName}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="leftDeviceStatus">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header translate>detailSTATUS</th>
                                    <td mat-cell *matCellDef="let row" (click)="showEntranceDetails(row)">
                                        <img *ngIf="row.leftDeviceStatus===true" alt="Device ON" title="Device ON"
                                            src="../../../assets/images/thumbs_up.png" />
                                        <img *ngIf="row.leftDeviceStatus===false" alt="Device OFF" title="Device OFF"
                                            src="../../../assets/images/thumbs_down.png" />
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="rightDeviceName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header translate>detailRIGHTDEVICE
                                    </th>
                                    <td mat-cell *matCellDef="let row" (click)="showEntranceDetails(row)">
                                        {{row.rightDeviceName}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="rightDeviceStatus">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header translate>detailsSTATUS</th>
                                    <td mat-cell *matCellDef="let row" (click)="showEntranceDetails(row)">
                                        <img *ngIf="row.rightDeviceStatus===true" alt="Device ON" title="Device ON"
                                            src="../../../assets/images/thumbs_up.png" />
                                        <img *ngIf="row.rightDeviceStatus===false" alt="Device OFF" title="Device OFF"
                                            src="../../../assets/images/thumbs_down.png" />
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="tabletId">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header translate>detailTABLETID</th>
                                    <td mat-cell *matCellDef="let row">
                                        <!-- {{row.name}} -->
                                        <!-- <select style="min-height:25px;min-width:130px;">
                                            <option *ngFor="let item of deviceInfo" [value]="item.leftDev">
                                                {{ item.leftDev }}</option>
                                        </select> -->
                                        <select style="min-height:25px;min-width:130px;"
                                            (change)="onTabletChange(row, t.value)" #t>
                                            <option [value]=""></option>
                                            <option *ngFor="let item of tablets" [value]="item.id"
                                                [selected]="item.id === row.tabletId">
                                                {{ item.tabletName }}</option>
                                        </select>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="customColumn">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let row">
                                        <a style="font-size: 25px; font-weight: lighter; color: grey; cursor: pointer;"
                                            (click)="deleteGate(row.laneId, row.laneName)">&times;</a>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <!-- <button class="globalButton" [routerLink]="['/admin/diagnostics']" translate>detailDone</button> -->
                        <button class="globalButton" (click)="save()" translate>detailDone</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
