<!-- <p>laneintegration works!</p> -->

<div class="inputWrapper">
    <div class="card">
        <div class="row mb-15" style="margin-left: -45px; margin-right: -45px; min-height: 37px;">
            <div class="col-xs-2 text-left">&nbsp;
                <!-- <img src="../../../assets/images/backscreen_icon.jpg" (click)="onScreenBack()"
                    style="cursor: pointer;" /> -->
            </div>
            <div class="col-xs-8">&nbsp;</div>
            <div class="col-xs-2 text-right">&nbsp;
                <!-- <img src="../../../assets/images/closescreen_icon.jpg" (click)="onScreenClose()"
                    style="cursor: pointer;" /> -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 responsive-hide">&nbsp;</div>
            <div class="col-lg-4">
                <div class="row blank responsive-hide">&nbsp;</div>

                <div class="row text-center mt-25">
                    <div class="col-lg-12">
                        <h3 class="font-color" style="font-weight: bold;" translate>laneIntegrate
                        </h3>
                    </div>
                </div>

                <div class="row mt-25">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                        <div class="squaredFour">
                            <input id="radio-1" class="radio-custom" name="radio-group" type="radio">
                            <label for="radio-1" class="radio-custom-label"></label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <p style="color:#3799e8; font-size: 24px; padding-top: 10px;">ACM</p>
                    </div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row mt-25">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                        <div class="squaredFour">
                            <input id="radio-2" class="radio-custom" name="radio-group" type="radio">
                            <label for="radio-2" class="radio-custom-label"></label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <p style="color:#3799e8; font-size: 24px; padding-top: 10px;">VMS</p>
                    </div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row mt-25">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                        <div class="squaredFour">
                            <input id="radio-3" class="radio-custom" name="radio-group" type="radio">
                            <label for="radio-3" class="radio-custom-label"></label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <p style="color:#3799e8; font-size: 24px;">ACM & VMS</p>
                    </div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="row text-center mt-25">
                    <div class="col-lg-2">&nbsp;</div>
                    <div class="col-lg-8">
                        <button class="globalButton" type="button" style="margin-bottom: 5px;" (click)="onDone()" translate>laneDONE</button>
                    </div>
                    <div class="col-lg-2">&nbsp;</div>
                </div>

                <div class="row blank responsive-hide">&nbsp;</div>
            </div>
            <div class="col-lg-4 responsive-hide">&nbsp;</div>
        </div>
    </div>
</div>