<!-- <p>threatmanagement</p> -->
<div class="inputWrapper threatmanagement">
    <div class="card" style="height: 700px;">
        <div class="row mb-15" style="margin-left: -45px; margin-right: -45px; min-height: 37px;">
            <div class="col-xs-2 text-left">&nbsp;
                <!-- <img src="../../../assets/images/backscreen_icon.jpg" (click)="onScreenBack()"
                    style="cursor: pointer;" /> -->
            </div>
            <div class="col-xs-8">&nbsp;</div>
            <div class="col-xs-2 text-right">
                <img src="../../../assets/images/closescreen_icon.jpg" (click)="onScreenClose()"
                    style="cursor: pointer;" />
            </div>
        </div>
        <div class="form-group">
            <form [formGroup]="form">
                <header class="row title">
                    <div class="col-xs-12">
                        <h2 class="main-title" translate>threatmanagethreatmanagement
                            <div class="action-icon-tooltip">
                                <img class="action-icon" src="../../../assets/images/question_icon.png" />
                                <div class="action-tooltip action-tooltip-alt">
                                    <p class="action-tooltip-text">
                                        Configure HEXWAVE system settings related to threat detection.
                                    </p>
                                </div>
                            </div>
                        </h2>
                    </div>
                </header>
                <div class="row border-line">
                    <div class="col-sm-9">
                        <h5>
                            <strong translate>threatmanageactivemonitoringdisplaytimeout </strong>
                            <div class="action-icon-tooltip">
                                <img class="action-icon" src="../../../assets/images/question_icon.png"
                                    style="width: 80%; height: 80%; margin-left: 5px;" />

                                <div class="action-tooltip action-tooltip-alt">
                                    <p class="action-tooltip-text">
                                        The Threat Monitoring screen will clear the latest scan results after this
                                        timeout in preparation for the next scan.
                                    </p>
                                </div>
                            </div>
                        </h5>
                    </div>
                    <div class="col-sm-2 dropdown">
                        <select class="drop form-control" name="users" ng-model="userSelect" style="font-weight: bold;"
                            formControlName="testdropdown">
                            <option value="1" selected="selected">1 sec</option>
                            <option value="2">2 secs</option>
                            <option value="3">3 secs </option>
                            <option value="3">4 secs </option>
                            <option value="3">5 secs </option>
                        </select>
                    </div>
                    <div class="col-sm-1 mt-10">
                        <h5 class="reset" translate>threatmanagereset</h5>
                    </div>
                </div>
                <div class="row border-line line">
                    <div class="col-sm-9">
                        <h5 class="main-title">
                            <strong translate>threatmanagethreatthreshold</strong>
                            <div class="action-icon-tooltip">
                                <img class="action-icon" src="../../../assets/images/question_icon.png"
                                    style="width: 80%; height: 80%; margin-left: 5px;" />

                                <div class="action-tooltip action-tooltip-alt">
                                    <p class="action-tooltip-text">
                                        Threshhold for determining whether an object detected is a threat (equal to or
                                        above the threshhold) or an anomaly (below the threshhold).
                                    </p>
                                </div>
                            </div>
                        </h5>
                    </div>
                    <div class="col-sm-2">
                        <ng5-slider formControlName="testslider" [(value)]="value" [options]="options"></ng5-slider>
                    </div>
                    <div class="col-sm-1 mt-10">
                        <h5 class="reset" translate>threatmanagereset</h5>
                    </div>
                </div>
                <!-- <div class="col-xs-12" style="height: 650;"></div> -->
            </form>
        </div>
    </div>
</div>