<div class="alert-modal">
    <div class="row mb-15" style="min-height: 37px;">
        <div class="col-xs-2 text-left">&nbsp;
            <!-- <img src="../../../assets/images/backscreen_icon.jpg" (click)="onScreenBack()" style="cursor: pointer;" /> -->
        </div>
        <div class="col-xs-8">&nbsp;</div>
        <div class="col-xs-2 text-right">
            <img src="../../../assets/images/closescreen_icon.jpg" (click)="onScreenClose('')"
                style="cursor: pointer;" />
        </div>
    </div>
    <h1 class="alert-modal-title" translate>laneEnterLaneName</h1>
    <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()" (input)="updateProgress()"
        (change)="updateProgress()" (reset)="updateProgress()">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-2">&nbsp;</div>
                <div class="col-xs-8">
                    <div [ngClass]="{ 'has-error': ((form.get('name').invalid) && (form.get('name').touched)) }">
                        <label class="form-label form-label-big col-sm-12" [attr.for]="'name'"> </label>
                        <input class="form-control alert-modal-input" type="text" placeholder="{{'addTypehere' | translate}}"
                            formControlName="name">

                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validationMessages.name">
                                <div class="help-block"
                                    *ngIf="form.get('name').hasError(validation.type) && (form.get('name').dirty || form.get('name').touched)">
                                    {{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">&nbsp;</div>
            </div>
            <div class="alert-modal-buttons">
                <div class="col-xs-3">&nbsp;</div>
                <div class="col-xs-6">
                    <input type="submit" class="btn alert-modal-button globalButton"
                        (click)="validateFields(); form.valid;" [disabled]="!form.valid" value="ADD">
                </div>
                <div class="col-xs-3">&nbsp;</div>
            </div>
        </div>
    </form>
</div>