<div class="inputWrapper networksetup">
    <div class="card mb-0">
        <div class="row mb-15" style="margin-left: -45px; margin-right: -45px; min-height: 37px;">
            <div class="col-xs-2 text-left">
                <img src="../../../assets/images/backscreen_icon.jpg" (click)="onScreenBack()" style="cursor: pointer;" />
            </div>
            <div class="col-xs-8">&nbsp;</div>
            <div class="col-xs-2 text-right">
                <img src="../../../assets/images/closescreen_icon.jpg" (click)="onScreenClose()" style="cursor: pointer;" />
            </div>
        </div>
        <header class="row title">
            <div class="col-xs-12">
                <div class="col-xs-12 col-md-5">
                    <h2 class="main-title" translate>networsetnetworksetup
                        <div class="action-icon-tooltip">
                            <img class="action-icon" src="../../../assets/images/question_icon.png" />
                            
                            <div class="action-tooltip action-tooltip-alt">
                                <p class="action-tooltip-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                    </h2>
                </div>
                <div class="col-xs-12 col-md-6"></div>
                <div class="col-xs-12 col-md-1"></div>
            </div>
            <div style="height: 100px;"></div>
        </header>
        <div class="row network-st-block" style="border-top: solid 1px #dcdcdc; min-height: 160px;">
            <div class="col-xs-12">
                <p class="p" translate>networsethewavetohexwavecomm</p>
            </div>
        </div>
        <div class="row network-st-block" style="border-top: solid 1px #dcdcdc; min-height: 160px;">
            <div class="col-xs-12">
                <p class="p"translate>networsethewavetovenuecomm</p>
            </div>
        </div>
        <div class="row network-st-block" style="border-top: solid 1px #dcdcdc; min-height: 160px;">
            <div class="col-xs-12">
                <p class="p" translate>networsethewavetointernetcomm</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="globalButton" (click)="onSubmit()" translate>netwosetnext</button>
        </div>
    </div>
</div>