<!-- <p>deletegate works!</p> -->
<div class="card">
    <div class="row mb-15" style="margin-left: -45px; margin-right: -45px; min-height: 37px;">
        <div class="col-xs-2 text-left">&nbsp;
            <!-- <img src="../../../assets/images/backscreen_icon.jpg" (click)="onScreenBack()" style="cursor: pointer;" /> -->
        </div>
        <div class="col-xs-8">&nbsp;</div>
        <div class="col-xs-2 text-right">
            <img src="../../../assets/images/closescreen_icon.jpg" (click)="onScreenClose()" style="cursor: pointer;" />
        </div>
    </div>
    <header class="row text-center">
        <div class="col-xs-12">
            <h2 class="main-title" style="font-weight: bold;" translate>DeleteGate</h2>
        </div>
    </header>
    <form>
        <div class="form-group">
            <div class="row text-center">
                <button class="btn btn-info" style=" padding: 10px 38px; margin-top: 25px; font-size: 14px;
                color:#ffffff; background-color: #102937" translate>DeleteGateCONFIRM</button>
            </div>
        </div>
    </form>
</div>