<!-- <p>securityintegration works!</p> -->

<div class="inputWrapper securityintegration">
    <div class="card">
        <div class="row mb-15" style="margin-left: -45px; margin-right: -45px; min-height: 37px;">
            <div class="col-xs-2 text-left">&nbsp;
                <!-- <img src="../../../assets/images/backscreen_icon.jpg" (click)="onScreenBack()" style="cursor: pointer;" /> -->
            </div>
            <div class="col-xs-8">&nbsp;</div>
            <div class="col-xs-2 text-right">&nbsp;
                <!-- <img src="../../../assets/images/closescreen_icon.jpg" (click)="onScreenClose()" style="cursor: pointer;" /> -->
            </div>
        </div>
        <header class="row title">
            <div class="col-xs-12">
                <div class="col-xs-12 col-md-5">
                    <h2 class="main-title" translate>secuSecurity
                        <div class="action-icon-tooltip">
                            <img class="action-icon" src="../../../assets/images/question_icon.png" />

                            <div class="action-tooltip action-tooltip-alt">
                                <p class="action-tooltip-text" translate>
                                    secuLorem
                                </p>
                            </div>
                        </div>
                    </h2>
                </div>
                <div class="col-xs-12 col-md-4"></div>
                <div class="col-xs-12 col-md-3">
                    <button class="globalButton" style="margin-bottom: 5px;" translate>secuRUN</button>
                </div>
            </div>
            <div style="min-height: 100px;"></div>
        </header>
        <div class="row network-st-block" style="border-top: solid 1px #dcdcdc; min-height: 180px;">
            <div class="col-xs-12">
                <p style="margin-top:25px; font-weight: bold; color: #D3D3D3;" translate>secuHEADLINE1</p>
            </div>
        </div>
        <div class="row network-st-block" style="border-top: solid 1px #dcdcdc; min-height: 180px;">
            <div class="col-xs-12">
                <p style="margin-top:25px; font-weight: bold; color: #D3D3D3;" translate>secuHEADLINE2</p>
            </div>
        </div>
        <div class="row network-st-block" style="border-top: solid 1px #dcdcdc; min-height: 200px;">
            <div class="col-xs-12">
                <p style="margin-top:25px; font-weight: bold; color: #D3D3D3;" translate>secuHEADLINE3</p>
            </div>
        </div>
    </div>
</div>